.div {
    display: block;
    margin-top: 75px;
}

h2 {
    margin: 0 auto;
    width: 600px;
    height:auto;
    font-size: 70px;
    padding: 20px;
    text-align: center;
    margin-bottom:75px;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color:#F8F8F8;
}

.art {
    display: flex;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    width: 500px;
    height: 300px;
    margin: 50px 0;
}

#tribunaux a:hover img {
    transition-duration: 1s;
    transform: scale(1.1);
}

.img-art img {
    width: 500px;
    height: 300px;
}

.texte-art {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50px;
    left: -450px;
}

#tribunaux a:hover .texte-art { 
    transition-duration: 1s;
    left: 20px;
}

.texte-art h3 {
    display: inline-block;
    background-color: #4991F1;
    margin: 25px 0;
    padding: 10px;
    font-size: 36px;
}
.texte-art p {
    display: inline-block;
    background-color: #4991F1;
	color:white;
    margin: 10px 0;
    padding: 10px;
    font-size: 24px;
}

.droits ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin:20px auto;
    padding: 0;
}

.droits li {
    background-color: royalblue;
    margin: 10px 0;
    padding: 10px 150px;
    font-size: 24px;
	color:white;
    
}
.button
{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.button:hover {
    background-color: rgba(255, 0, 0, 1);
}
input
{
	width:auto !important;
	height:40px;
}

.texte-tri h3
{
	text-align:center;
	font-size:30px;
	
}
.texte-tri h4, .texte-art h4
{
	text-align:center;
	background-color: #4991F1;
	color:white;
	padding-top:5px;
	padding-bottom:5px;
}
.texte-tri p, .avocat p, .notaire p, .huissier p~ul
{
	text-align:justify;
	width:600px;
	height:auto;
}

